*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: azure;
}

.title{
    display: flex;
    align-items: center; 
    justify-content: center;   
    flex-direction: column;
    text-align: center;
}

h2{
    font-size: 2rem;
    padding: 2rem 0 0 0;
}

.underline{
    width: 200px;
    height: 3px;
    background: blue;
    border-radius: 3px;
    margin-bottom: 1rem;
}

article{
    width: 400px;
    background-color: rgb(219, 225, 231);
    padding: 1rem;
    border-radius: 10px;
    box-shadow:
    1.8px 1.8px 3.5px rgba(0, 0, 0, 0.02),
    4.3px 4.4px 6.8px rgba(0, 0, 0, 0.028),
    8.1px 8.3px 10.7px rgba(0, 0, 0, 0.035),
    14.5px 14.7px 16.3px rgba(0, 0, 0, 0.042),
    27.2px 27.6px 27.7px rgba(0, 0, 0, 0.05),
    65px 66px 80px rgba(0, 0, 0, 0.07);
}

.image-container::before{   
    content: '🎖️';
    width: 36px;
    height: 36px;
    font-size: 26px;
    color: rgb(72, 72, 235);
    position: absolute;
    border-radius: 50%;
    background: rgb(243, 240, 240);     
}

.image-container{
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: blue;
}

img{
    margin-top: 2px;
    margin-left: -5px;
    border-radius: 50%;
}

h4{
    padding: 1rem 0;
}

#job{
    padding: 0 0 0.5rem 0;
    font-weight: bold;
    font-style: oblique;
}

#info{
    font-style: italic;
    margin-bottom: 0.5rem;
}

.prev-btn, .next-btn{
    padding: 0 0.2rem 0 0.2rem;
    margin-bottom: 0.5rem;
}

.random-btn{
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
    font-style: italic;
    font-weight: bolder;
    background-color: darkseagreen;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.footer{
    width: 100%;
    padding: 0.5rem 0;
    position: fixed;
    background: rgb(109, 141, 50);
    text-align: center;
    bottom: 0;
}
